/**
 * This should be follow the spec: https://m3.material.io/components/progress-indicators/specs
 * Unfortunately, there are no native web standard that allows to style progress bars. We decide that default style will suffice.
 */

[role="status"] {
  display: block;
  width: 100%;
  height: 4px;
}

[role="status"] > progress {
  display: block;
  width: 100%;
  height: 4px;
}
