:root, body {
  margin: 0;
  background-color: var(--md-sys-color-background);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

input[type="button"] {
  text-align: left;
}

input[type="text" i] {
  padding: 0;
}

button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  margin: 0;
  line-height: inherit;
}
